NodeRED-json-files/node-red-dashboard.txt
[
    {
        "id": "485d77fe4eeec893",
        "type": "tab",
        "label": "Test Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b7b1bd4f8932581",
        "type": "ui_button",
        "z": "485d77fe4eeec893",
        "name": "down arrow btn",
        "group": "59e1a4904c5eece0",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_downward",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "02328241d4497fb3"
            ]
        ]
    },
    {
        "id": "9bf670611ea3d6dd",
        "type": "ui_gauge",
        "z": "485d77fe4eeec893",
        "name": "",
        "group": "59e1a4904c5eece0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Signal Strength",
        "label": "Mbps",
        "format": "{{value}}",
        "min": 0,
        "max": "310",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "d239b85e6a01aa52",
        "type": "ui_button",
        "z": "485d77fe4eeec893",
        "name": "up arrow btn",
        "group": "59e1a4904c5eece0",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "b31d46aa575d77f4"
            ]
        ]
    },
    {
        "id": "b526c39b2954d74b",
        "type": "ui_button",
        "z": "485d77fe4eeec893",
        "name": "right arrow btn",
        "group": "59e1a4904c5eece0",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "062361626e1672d4"
            ]
        ]
    },
    {
        "id": "b7f45e6abe5f9778",
        "type": "ui_button",
        "z": "485d77fe4eeec893",
        "name": "left arrow btn",
        "group": "59e1a4904c5eece0",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "62b11a32d20901db"
            ]
        ]
    },
    {
        "id": "b47b3845d93a86cc",
        "type": "ui_switch",
        "z": "485d77fe4eeec893",
        "name": "",
        "label": "Manual/Automatic",
        "tooltip": "",
        "group": "59e1a4904c5eece0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "08bf6e0a60b7d2b4"
            ]
        ]
    },
    {
        "id": "37c455751b51afdc",
        "type": "ui_led",
        "z": "485d77fe4eeec893",
        "order": 3,
        "group": "59e1a4904c5eece0",
        "width": 0,
        "height": 0,
        "label": "Alignment Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "Alignment Status",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "a60d28db3630ee55",
        "type": "inject",
        "z": "485d77fe4eeec893",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "37c455751b51afdc"
            ]
        ]
    },
    {
        "id": "1344f8aff7375a67",
        "type": "inject",
        "z": "485d77fe4eeec893",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "37c455751b51afdc"
            ]
        ]
    },
    {
        "id": "b31d46aa575d77f4",
        "type": "http request",
        "z": "485d77fe4eeec893",
        "name": "Up Trigger Flask",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.250.148.190:5000/up",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 100,
        "wires": [
            [
                "0f56f29e56b8af1a"
            ]
        ]
    },
    {
        "id": "0f56f29e56b8af1a",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "08bf6e0a60b7d2b4",
        "type": "http request",
        "z": "485d77fe4eeec893",
        "name": "Up Trigger Flask",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.250.148.190:5000/toggle",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 360,
        "wires": [
            [
                "49a8ff3de37990bb"
            ]
        ]
    },
    {
        "id": "49a8ff3de37990bb",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "02328241d4497fb3",
        "type": "http request",
        "z": "485d77fe4eeec893",
        "name": "Down Trigger Flask",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.250.148.190:5000/down",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "d2dc786114c5f5b6"
            ]
        ]
    },
    {
        "id": "d2dc786114c5f5b6",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "62b11a32d20901db",
        "type": "http request",
        "z": "485d77fe4eeec893",
        "name": "Left Trigger Flask",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.250.148.190:5000/left",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "5e6ecdc4b5db8ce2"
            ]
        ]
    },
    {
        "id": "5e6ecdc4b5db8ce2",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "062361626e1672d4",
        "type": "http request",
        "z": "485d77fe4eeec893",
        "name": "Right Trigger Flask",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.250.148.190:5000/right",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "6c3f6e53a4451615"
            ]
        ]
    },
    {
        "id": "6c3f6e53a4451615",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "067cbbd3b104a9e3",
        "type": "http in",
        "z": "485d77fe4eeec893",
        "name": "",
        "url": "/image",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 840,
        "wires": [
            [
                "8aefb9ae2cc24b24",
                "8e2669289df4d102"
            ]
        ]
    },
    {
        "id": "04038cecdf69c211",
        "type": "template",
        "z": "485d77fe4eeec893",
        "name": "display image",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img src=\"{{payload}}\" style=\"transform:scale(0.5); display:block; margin:0 auto;\">\n",
        "output": "str",
        "x": 620,
        "y": 840,
        "wires": [
            [
                "8feb55b87c082347",
                "624ccfca85f15a8b",
                "fc62e6af4d306494"
            ]
        ]
    },
    {
        "id": "fc62e6af4d306494",
        "type": "http response",
        "z": "485d77fe4eeec893",
        "name": "image http response",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "8aefb9ae2cc24b24",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 760,
        "wires": []
    },
    {
        "id": "8e2669289df4d102",
        "type": "function",
        "z": "485d77fe4eeec893",
        "name": "function 1",
        "func": "msg.payload = \"data:image/jpeg;base64,\" + msg.payload.toString('base64');\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 840,
        "wires": [
            [
                "04038cecdf69c211",
                "d6103093f1adccf3"
            ]
        ]
    },
    {
        "id": "d6103093f1adccf3",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 760,
        "wires": []
    },
    {
        "id": "8feb55b87c082347",
        "type": "debug",
        "z": "485d77fe4eeec893",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 760,
        "wires": []
    },
    {
        "id": "624ccfca85f15a8b",
        "type": "ui_template",
        "z": "485d77fe4eeec893",
        "group": "f7649b578c444735",
        "name": "Camera Feed",
        "order": 1,
        "width": 18,
        "height": 14,
        "format": "<div ng-bind-html=\"msg.payload\" ></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "59e1a4904c5eece0",
        "type": "ui_group",
        "name": "System Data",
        "tab": "860262438bc9eac7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "f7649b578c444735",
        "type": "ui_group",
        "name": "Camera View",
        "tab": "860262438bc9eac7",
        "order": 2,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "860262438bc9eac7",
        "type": "ui_tab",
        "name": "LunaLink Alignment Interface",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
